<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>

  <connectionStrings>
    <add name="BookShopEntities" connectionString="metadata=res://*/Models.BookShopData.csdl|res://*/Models.BookShopData.ssdl|res://*/Models.BookShopData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\jba\Dev\Code\MVC\BookShop\BookShop\App_Data\BookShopDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <!-- the following configuration represent the defaults -->
  <specFlow>
    <language feature="en" />

    <unitTestProvider name="NUnit" />

    <runtime detectAmbiguousMatches="true"
             stopAtFirstError="false"
             missingOrPendingStepsOutcome="Inconclusive" />

    <trace traceSuccessfulSteps="true"
           traceTimings="false"
           minTracedDuration="0:0:0.1" />
  </specFlow>
</configuration>