<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="browser" value="chrome" xdt:Transform="Insert"/>
		<add key="os" value="windows" xdt:Transform="Insert"/>
		<add key="version" value="38" xdt:Transform="Insert"/>
		<add key="os_version" value="7" xdt:Transform="Insert"/>
	</appSettings>
</configuration>