<?xml version="1.0"?> 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"> 
    <appSettings> 
        <add key="browser" value="firefox" xdt:Transform="Insert"/> 
        <add key="os" value="windows" xdt:Transform="Insert"/> 
        <add key="version" value="33" xdt:Transform="Insert"/> 
        <add key="os_version" value="8" xdt:Transform="Insert"/>
		<add key="username" value="himanshu.sheth" />
		<add key="accesskey" value="fbI6kxucn5iRzwt5GWYiNvaPb4Olu9R8lwBsXWTSaIOebXn4x9" />
		<add key="server" value="@hub.lambdatest.com" />
    </appSettings>
</configuration>